/*****************************************************************
1. SYSTEM CUSTOMIZE SETTINGS
*****************************************************************/

.inline {
	display:inline !important;
}
.pun {
    padding: 10px 40px !important;
}
#punindex #idx0 td {
    padding-top: 4px;
    padding-bottom: 4px;
}
.modlist {
	padding:0 !important;
	font-size:85%;
}

/* Poll [start] */
#ap_poll_input {
}
.ap_poll_hidden { display: none; }
fieldset.ap_poll {
	margin-top: 2em;
	padding: 1em;
	background-color: #F6F9FC;
	border: 1px solid #DFE6EE;
}
.ap_poll legend {
	font-weight: normal;
}
.ap_poll p {
	font-weight: bold;
}
.ap_poll table {
	width: auto;
}
.ap_poll th {
	font-weight: normal;
	padding: .5em 1em .5em 0;
}
.ap_poll td {
	padding: .5em 1em;
}
.ap_poll label {
}
.ap_poll .percent {
	text-align: right;
}
.ap_poll .results .bar {
	height: 20px;
	background-color: #44699C;
}
.ap_poll .results .bar .top {
	background-color: #4F78B2;
	width: 100%;
	height: 10px;
}
.ap_poll .total {
	color: #b7b7b7;
	margin-top: .5em;
	font-style: italic;
}
/* Poll [end] */

/* Thanks [start] */
.pun .thanks {
    margin: 0 0 12px;
    padding: 3px 5px 0;
}
/* Thanks [end] */
